<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : StandardIssue
Version    : 1.0
Released   : 20070723
Description: A two-column, fixed-width and lightweight template ideal for 1024x768 resolutions. Suitable for blogs and small websites.

-->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }} | scott-olson.org</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />

  <link href="/stylesheets/default.css" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/syntax.css" rel="stylesheet" type="text/css" />

  <link href='http://feeds.feedburner.com/scott-olson-org' rel='alternate' title='ATOM' type='application/atom+xml' />

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js" type="text/javascript"></script>

  <script type="text/javascript">
    $(function() {
      var limit = 5        // how many repos to list
      var login = 'tsion'  // your username

      var repos = [], list = $('ul#repos')

      if( list.length > 0 ) {
        list.empty();

        $.getJSON('http://github.com/api/v1/json/' + login + '?callback=?', function(data) {
          $.each(data.user.repositories, function() {
            // This is kind of ugly, but then again, so is having your GitHub
            // Pages repository be in your repo list.
            if (!this.fork && this.name != 'tsion.github.com' && this.name != 'scott-olson.org') repos.push(this)
          })

          repos.sort(function(a, b) {
            return b.watchers - a.watchers
          })

          $.each(repos.slice(0, limit), function() {
            list.append('<li><a href="' + this.url + '">' + this.name + '</a>: ' + this.description + '</li>');
          })
        })
      }
    })
  </script>

</head>

<body>

{% case page.title %}
{% when 'contact' %}
  {% assign active = 2 %}
{% when 'about' %}
  {% assign active = 1 %}
{% else %}
  {% assign active = 0 %}
{% endcase %}

<div id="container">
<div id="header">
  <div id="logo">
    <h1><a href="/">scott-olson.org</a></h1>
    <h2>A website. Yeah.</h2>
  </div>
  <div id="menu">
    <ul>
      <li{% if active == 0 %} class="active"{% endif %}><a href="/">my blog</a></li>
      <li><a id="subscribe" href="http://feeds.feedburner.com/scott-olson-org">subscribe</a></li>
      <li{% if active == 1 %} class="active"{% endif %}><a href="/about">about me</a></li>
      <li{% if active == 2 %} class="active"{% endif %}><a href="/contact">contact me</a></li>
    </ul>
  </div>
</div>

<div id="page">
  <div id="content">
    {{ content }}
  </div>

  <div id="sidebar">
    <ul>
      <li>
        <h2><b>Open</b> Source</h2>
        <ul>
          <li><a href="http://github.com/tsion/scott-olson.org">scott-olson.org</a>: This website! It's generated by <a href="http://wiki.github.com/mojombo/jekyll">jekyll</a> and the source is up on GitHub.</li>
        </ul>
        <ul id="repos">
        </ul>
      </li>
    </ul>
  </div>

  <div style="clear: both;">&nbsp;</div>
</div>

<div id="footer">
  <p id="legal">&copy; 2009 Scott Olson. All rights reserved. Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a>. Site generated on {{ site.time | date: "%B %d, %Y" }}.</p>
</div>
</div>

<script type="text/javascript">
//<![CDATA[
(function() {
  var links = document.getElementsByTagName('a');
  var query = '?';
  for(var i = 0; i < links.length; i++) {
  if(links[i].href.indexOf('#disqus_thread') >= 0) {
    query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
  }
  }
  document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/scott-olson-blog/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>

</body>
</html>
